<h1>CART_ITEM</h1>

<h3>OBJET IDENTIFIANT : <%=@cart_item%></h3>
<br>
<h3>ID cart_item: <%=@cart_item.id %></h3>
<br>
<h3>  item_id : <%=@cart_item.item_id%></h3>
<br>
<h3>  cart_id : <%=@cart_item.cart_id%></h3>
