<div class="card h-100">
  <div class="product-gallery"  >
    <img class="card-img-top" src="<%= item.image_url %>" alt="Cat_Picture" image="image" cap="cap">
    <p><%= item.description%></p>
  </div>
</div>
