<div class="row bg-dark justify-content-start p-5 ">
    <!-- Contacts Widget Light Skin -->
<div class="widget widget-contacts widget-light-skin px-5 mx-5">
  <h4 class="widget-title">Contacts</h4>
  <ul>
    <li>
      <i class="fe-icon-map-pin"></i>
      <span>Find us</span>
      <a href="https://www.google.com/maps/place/1260+Broadway,+New+York,+NY+10001,+USA/@40.7483811,-73.9898009,17z/data=!3m1!4b1!4m5!3m4!1s0x89c259a920a0a5fb:0xa4329a8e21872659!8m2!3d40.7483811!4d-73.9876122" target="_blank">1260 Broadway, New York</a>
    </li>
    <li>
      <i class="fe-icon-phone"></i>
      <span>Call us</span>
      <a href="tel:00180039025">001 800 390 25</a>
    </li>
    <li>
      <i class="fe-icon-mail"></i>
      <span>Write us</span>
      <a href="mailto:info@example.com">info@example.com</a>
    </li>
  </ul>
</div>

<!-- Subscription (MailChimp) Widget -->
<div class="widget widget-subscribe">
  <h4 class="widget-title">Subscription</h4>
  <form action="link-to-your-mailchimp-subscription-list" method="post" target="_blank" novalidate>
    <div class="input-group">
      <input class="form-control" type="email" name="EMAIL" placeholder="Email address">
      <div class="input-group-append">
        <button class="btn btn-primary" type="submit">Sign Up</button>
      </div>
    </div>
    <small class="form-text text-muted pt-1">Enter email to receive a newsletter about new products and updates</small>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true">
      <input type="text" name="b_c7103e2c981361a6639545bd5_1194bb7544" tabindex="-1">
    </div>
  </form>
</div>



</div>
