
<footer class="bg-secondary border-top border-bottom py-4">
      <div class=" text-center">
        <p class="m-0 text-sm"><span class="opacity-90">© All rights reserved. Made with &hearts; by </span>
          <a href="https://github.com/stephanesdr" class="d-inline-block nav-link text-body p-0" target="_blank">step</a>
          <a href="https://github.com/MargVander" class="d-inline-block nav-link text-body p-0" target="_blank">marg</a>
          <a href="https://github.com/LordGoblin" class="d-inline-block nav-link text-body p-0" target="_blank">maxi</a>
          <a href="https://github.com/Picasso6" class="d-inline-block nav-link text-body p-0" target="_blank">alex</a>
        </p>
      </div>
    </footer>
<!-- <div class="row fixed-row-bottom bg-dark justify-content-start p-3 ">
<div class="widget widget-contacts widget-light-skin px-5 mx-5">
  <h4 class="widget-title">Team Lille</h4>
  <ul>
    <li>
      <span>Marg Vander</span>

    </li>
    <li>
      <span>Alex Dnz</span>

    </li>
    <li>
      <span>Max Georges</span>

    </li>
    <li>
      <span>Steph Stdr</span>

    </li>
  </ul>
</div>






</div> -->
