<div class="row bg-dark justify-content-start p-5 ">
    <!-- Contacts Widget Light Skin -->
<div class="widget widget-contacts widget-light-skin px-5 mx-5">
  <h4 class="widget-title">Team Lille</h4>
  <ul>
    <li>
      <i class="fe-icon-map-pin"></i>
      <span>Marg Vander</span>

    </li>
    <li>
      <i class="fe-icon-phone"></i>
      <span>Alex Dnz</span>

    </li>
    <li>
      <i class="fe-icon-mail"></i>
      <span>Max Georges</span>

    </li>
    <li>
      <i class="fe-icon-mail"></i>
      <span>Steph Stdr</span>

    </li>
  </ul>
</div>






</div>
